@{
    ViewData["Title"] = "Synchronization";
}

<div class="text-center">
    <h2 class="display-4"> Synchronization in Progress </h2>
    <p class="lead">ConcrdiaMVC is currently synchronizing data. This process may take a few minutes.</p>
</div>